.main {
    background-color: #000000;
    color:#f1f1f1;
    text-align: center;
    height: 768px;
    margin-bottom: 50px;
    width: 100%;
}
.global-stats {
    font-size: 25px;
    line-height: 80px;
    position: relative;
    margin-top: 100px;
}