.main {
    background-color: #000000;
    color:#f1f1f1;
    text-align: center;
}
.main h1 {
    font-size: 35px;
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
}

.global-stats {
    font-size: 25px;
    line-height: 80px;
}
