.stats-box {
    padding: 0px 15px 15px 15px;
    margin: 10px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.stats-box * {
    background-color: #fff;
}
.counter-name {
    color: #43425D;
    font-family: SourceSansPro-Regular;
    font-size: 15px;
    line-height: 5;
}
.count {
    font-family: SourceSansPro-SemiBold;
    font-size: 25px;
    line-height: 1.5;
}