.stats {
    overflow: auto;
    grid-column: 2 / 6;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white;
}

.stats-title {
    background-color: #fff;
}

table {
    border-collapse: collapse;
    background-color: #fff;
}
table, th, td {
    border-bottom: 1px solid #F1F1F3;
    background-color: #fff;
}

thead {
    display: table-header-group;
}

tr {
    display: table-row;
}

th {
    background-color: #F0F0F7;
    position: sticky;
    top: -2px;
}

th:nth-child(1) {
    text-align: left;
}

th, td {
    padding: 10px;
}

td:not(:first-child) {
    text-align: center;
}